<ul>
    <li><a href="/">home</a></li>

    {% if auth().check() %}
        <li><a href="/dashboard">dashboard</a></li>
        <li>welcome {{ auth().user().first_name }}</li>
    {% endif %}

    {% if not auth().check() %}
        <li><a href="/signup">sign up</a></li>
        <li><a href="/signin">sign in</a></li>
    {% endif %}
</ul>