<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if block('title') is defined %}{{ block('title') }} - {{ config().get('app.name') }}{% endif %}</title>
    {{ vite() | raw }}
</head>
<body>
    <nav>
        {% include 'layouts/partials/nav.twig' %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    {% if session().getFlashBag().get('message') is defined %}
        {{ session().getFlashBag().get('message')[0] }}
    {% endif %}
</body>
</html>